.container {
  flex: 0.93;
  padding: 25px 0 31px 0;
}

.search-bar {
  gap: 5px;
  background-color: white;
  padding: 5px 0;
  border-radius: 5px;
}

.search-bar > label {
  margin-left: 12px;
  border-color: var(--grey-fill-color);
}

.search-bar > input {
  border: none;
  font-size: 10px;
  flex: 0.98;
  padding: 4px 0;
  text-indent: 5px;
}

.search-bar > input::placeholder {
  color: var(--grey-fill-color);
}

.recently-used,
.recent-files {
  margin-bottom: 8px;
}

.recently-used-icons {
  gap: 10px;
}
.recently-used-icons span:nth-child(1) {
  border-color: var(--main-blue-color);
}
.recently-used-icons span:nth-child(2) {
  border-color: #9d9faf;
}

.recently-used-title,
.recent-files-title {
  margin-top: 25px;
}

.recently-used-title {
  margin-bottom: 23px;
}

.recent-files-title {
  margin-bottom: 14px;
}

.recently-used-cards-container {
  grid-template-columns: repeat(3, minmax(159px, 1fr));
  grid-template-rows: minmax(133px, 1fr);
}

.recently-used-card {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.recently-used-card > .card-text {
  gap: 9px;
}

.square-with-shadow {
  background-color: var(--main-yellow-color);
  box-shadow: -5px 5px 0 0 #ffd999;
  margin-left: 20px;
  grid-area: 1/1/2/2;
}

.card-circle-container {
  position: relative;
  left: 13px;
  top: 5px;
  width: 18px;
  height: 18px;
  grid-area: 1/1/2/2;
}

.circle-span {
  width: 18px;
  height: 18px;
  border: 1px solid var(--circle-outline-color);
  border-radius: 50%;
  background-color: white;
  position: absolute;
}

.circle-span-offset {
  left: 12px;
}

.circle-span-offset:nth-child(3) {
  left: 24px;
  font-size: 8px;
  color: var(--main-blue-color);
}

.card-text {
  gap: 5px;
  padding: 0 14px;
  grid-area: 2/1/3/2;
}

.card-text > h3 {
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
}

.card-text > p {
  font-size: 8px;
  font-weight: 300;
  line-height: 9px;
  color: var(--font-color);
}

.three-dots-svg {
  margin-top: 15px;
}

.recent-files-header > p {
  align-self: center;
  font-size: 12px;
  font-weight: 400;
  color: var(--main-blue-color);
}

.recent-files-table {
  flex: 1;
}

.table-header > tr {
  display: flex;
  padding-bottom: 18px;
}

.header-item {
  font-size: 12px;
  color: var(--font-color);
  font-weight: 400;
  text-align: left;
}

.header-item:nth-child(1) {
  flex: 0.5;
}

.header-item:nth-child(2) {
  flex: 0.25;
}

.header-item:nth-child(3) {
  flex: 0.2;
}

.table-body {
  gap: 16px;
}

.table-row {
  background-color: white;
  border-radius: 10px;
}

.table-row > :nth-child(1) {
  margin: 11px 12px;
  height: 21px;
  width: 21px;
  border-radius: 5px;
}
.table-row > :nth-child(2) {
  color: var(--main-blue-color);
  font-size: 12px;
  flex: 0.45;
}
.table-row > :nth-child(3),
.table-row > :nth-child(4) {
  font-size: 12px;
  color: var(--font-color);
}

.table-row > :nth-child(3) {
  flex: 0.28;
}

.table-row > :nth-child(4) {
  flex: 0.2;
}

.table-row > :nth-child(5) {
  flex: 0.05;
  color: var(--icon-gray-color);
  font-size: 24px;
  align-self: flex-start;
  text-align: center;
}

.share-with-me {
  margin-top: 30px;
}

.share-with-me-cards-container {
  padding-top: 14px;
  grid-template-columns: repeat(3, minmax(157px, 1fr));
  grid-template-rows: minmax(79px, 1fr);
}

.share-with-me-card > :nth-child(1) {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 13px 11px 6px 11px;
}

.square-without-shadow {
  background-color: var(--main-yellow-color);
}

.card-colored-circle-container {
  position: relative;
  left: 13px;
  top: 5px;
  width: 18px;
  height: 25px;
}

.green {
  border-color: var(--main-green-color);
}

.red {
  border-color: var(--main-red-color);
}

.yellow {
  border-color: var(--main-yellow-color);
}
