#sidebar-right{
    background-color: var(--secondary-bg-color);
    display: grid;
    grid-template-rows: 0.3fr 2fr 1fr;
}

.user-info-container{
    border-bottom: 1px solid #E0E7F1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.icon-container,
.name-and-icon{
    display:flex;
    align-items: center;
}

.icon-container{
 gap: 13px;
}

.square-filled{
    display: block;
    width: 15px;
    height: 15px;
    background-color: var(--icon-gray-color);
}

.name-and-icon > p{
    color: var(--main-blue-color);
    font-size: 12px;
    font-weight: 400;
    padding-right: 8px;
}

.user-icon{
    display: block;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background-color: var(--icon-gray-color);
}

.storage-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.storage-info-container > p:nth-child(3){
    color: var(--font-color);
    font-size: 8px;
    font-weight: 400;
    line-height: 9px;
    margin-top: 10px;
}
.storage-info-container > p:nth-child(1){
    color: var(--main-blue-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    align-self: flex-start;
    flex: 0.5;
    padding-left: 32px;
}

.white-circle{
    display: flex;
    flex-direction: column;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    background-color: white;
    justify-content: center;
    align-items: center;
    position: relative;
}

.white-circle > p:nth-child(1){
    color: var(--main-blue-color);
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
}

.white-circle > p:nth-child(2){
    color: var(--font-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}
.white-circle > p:nth-child(1) span{
   font-size: 16px;
}


.svg-container {
    position: absolute;
    width: 145px; 
}


.storage-details{
    padding: 0 24px;
}

.item-list{
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E0E7F1;
    padding-bottom: 9px;
    padding-top: 8px;
}

.item-list:nth-child(4){
    border-bottom: none;
}

.text-container{
    padding-right: 48px;
}

.text-container > p:nth-child(1){
    font-size: 10px;
    color: var(--main-blue-color);
    padding-bottom: 4px;
}
.text-container > p:nth-child(2){
    font-size: 8px;
    color: var(--font-color)
}
    
.yellow-box,
.blue-box,
.green-box,
.grey-box{
    display: block;
    width: 28px;
    height: 28px;
    border-radius: 8px;
}

.yellow-box{
    background-color: var(--main-yellow-color);
}

.blue-box{
    background-color: var(--blue-color); 
}

.green-box{
    background-color: var(--main-green-color);
}

.grey-box{
    background-color: var(--grey-fill-color);
}

.space-details{
    background-color: white;
    border-radius: 4px;
}

.space-details > p{
    text-align: center;
    padding: 6px 0;
    width: 3.375rem;
    font-size: 8px;
    color: var(--main-blue-color);
    font-weight: 500;
    line-height: 9px;
}

.cta-container{
   margin: auto;
}

.cta-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 18px;
    padding: 16px 38px;
}
.cta-box > p:nth-child(2){
    color: var(--main-blue-color);
    font-size: 12px;
    font-weight: 400;
}
.cta-box > p:nth-child(3){
    color: var(--font-color);
    font-size: 8px;
    font-weight: 400;
    margin: 5px 0 11px 0
}

.cta-box > button{
   border: none;
   color: white;
   background-color: var(--main-yellow-color);
   font-size: 10px;
   font-weight: 500;
   border-radius: 7px;
   padding: 9px 18px;
}

.gradient-box-big{
    display: block;
    width: 119px;
    height: 73px;
    border-radius: 11px;
    background: var(--linear-gradient);
    margin-bottom: 23px;
}